<form (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">新任務</label>
    <input
      type="text"
      name="text"
      id="text"
      placeholder="請輸入任務"
      [(ngModel)]="text"
    >
  </div>
  <div class="form-control">
    <label for="day">時間</label>
    <input
      type="text"
      name="day"
      id="day"
      placeholder="請輸入時間"
      [(ngModel)]="day"
    >
  </div>
  <div class="form-control">
    <label for="reminder">是否提醒</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      [(ngModel)]="reminder"
    >
  </div>
  <input
    type="submit"
    value="新增任務"
  >
</form>
